<!DOCTYPE html>
<html>
<head>
  <title>Xdhacks</title>

</head>

<body>
Home Page placeholder\br
<%= link_to "Patients", patients_path, class: "btn-color color-one btn-large" %>\br
<%= link_to "Clinics", clinics_path, class: "btn-color color-one btn-large" %>\br

</body>
</html>
